/* landing page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  background: #B3C5DA;
}

.stone img {
  width: 130px;
}

.banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 300px;
  width: 400px;
  height: 320px;
  background: #58F82D;
  z-index: 1;
  transition: 1s;
}

.banner.active:before {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #000000;
}

.banner:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 100px;
  width: 400px;
  height: 200px;
  background: #05F0DE;
  z-index: 1;
  transition: 1s;
}

.banner.active:after {
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #000000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}

header .logo {
  font-size: 2em;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
  transform-origin: right;
}

.banner.active .logo {
  transform: scale(0);
  transform-origin: left;
}

.toggle {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(../asset/img/menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
}

.toggle.active {
  background: url(../asset/img/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
}

.content {
  position: relative;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5%;
  transform-origin: right;
}

.banner.active .content {
  transform: scale(0);
  transform-origin: left;
}

.content .contentBx {
  max-width: 600px;
}

.content .contentBx h2 {
  font-size: 4em;
  line-height: 1em;
  color: #fff;
  text-transform: uppercase;
}

.content .contentBx p {
  font-size: 1em;
  color: #fff;
  margin: 20px 0;
}

.content .contentBx a {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}

.content .contentBx a:hover {
  background: #fff;
  color: #000;
}

.imgBx img {
  max-width: 100%;
  min-width: 400px;
}


.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}

.banner.active .menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 1s;
}

.menu li {
  list-style: none;
}

.menu li a {
  color: #fff;
  text-decoration: none;
  font-size: 2em;
}

@media (max-width: 991px) {
  header {
    padding: 20px 40px;
  }

  .banner {
    padding: 40px;
    overflow: hidden;
  }

  .banner:before {
    top: 100px;
    left: 0;
    width: 170px;
    height: 310px;
  }

  .banner:after {
    bottom: 0;
    right: 0;
    width: 80px;
    height: 60px;
  }

  .content {
    flex-direction: column-reverse;
    margin: 50px 0;
  }

  .content .contentBx {
    max-width: 100%;
    min-width: 300px;
  }

  .content .contentBx h2 {
    font-size: 2.5em;
  }
}

/* profil start */

.boxs {
  position: relative;
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
}

.boxs::before {
  content: '';
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg, #58F82D, #05F0DE);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}

.boxs:hover::before {
  inset: -20px 0px;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.boxs::after {
  content: '';
  position: absolute;
  inset: 6px;
  background: #000000;
  border-radius: 50%;
  z-index: 1;
}

.contents {
  position: absolute;
  inset: 30px;
  border: 6px solid #000000;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contents img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}

.boxs:hover .contents img {
  opacity: 0;
}

.contents h2 {
  position: relative;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.contents h2 span {
  font-weight: 300;
  font-size: 0.75em;
}

.contents a {
  position: relative;
  margin-top: 10px;
  padding: 10px 20px;
  background: #58F82D;
  color: #fff;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: 0.5s;
}

.contents a:hover {
  letter-spacing: 0.2em;
}

/* Product */
.cards {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px;
  border-radius: 20px;
  transition: 0.5s;
  transition-delay: 0.5s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cards:hover {
  width: 600px;
  transition-delay: 0s;
}

.cards .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr);
  clip-path: circle(120px at center);
  transition: 0.5s;
}

.cards:hover .circle::before {
  clip-path: circle(400px at center);
}

.cards .circle .logo {
  position: relative;
  width: 200px;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.cards:hover .circle .logo {
  transform: scale(0);
  transition-delay: 0s;
}

.contentss {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}

.cards:hover .contentss {
  left: 0;
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.contentss h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2.5em;
  line-height: 1em;
}

.contentss p {
  color: #fff;
}

.contentss a {
  position: relative;
  color: #fff;
  background: #000000;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
}

.cards .product_img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 500px;
  transition: 0.5s;
  transition-delay: 0s;
}

.cards:hover .product_img {
  left: 72%;
  transform: translate(-50%, -50%) scale(1);
  transition-delay: 0.5s;
}

/* responsive */
@media (max-width: 991px) {
  .cards {
    width: auto;
    max-width: 350px;
    align-items: flex-start;
  }

  .cards:hover {
    height: 600px;
  }

  .cards:hover .product_img {
    top: initial;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0%) scale(1);
    height: 300px;
  }

  .cards .contentss {
    width: 100%;
    left: 0;
    padding: 40px;
  }
}

#popup .card-content {
  position: absolute;
  top: 45%;
  width: 400px;
  background: #eee;
  border-radius: 10px;
}

#popup .card-content h2 {
  margin-top: 10px;
  text-align: center;
  color: #111;
  font-weight: 500;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1em;
}

#popup .card-content h3 {
  font-size: 1em;
  font-weight: 400;
  text-transform: initial;
  letter-spacing: 0.05em;
  text-align: center;
}

#popup img {
  position: relative;
  left: 36%;
  width: 100px;
  height: 180px;
  margin-top: 15px;
}

#popup .form {
  text-align: center;
}

#popup .form label {
  display: block;
}

#popup .form input {
  margin-top: 8px;
  border-radius: 5px;
  height: 40px;
  max-width: 90px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  text-align: center;
}

#popup .form .min,
#popup .form .plus {
  height: 40px;
  padding: 5px 15px;
  border-radius: 5px;
  color: rgba(0, 114, 54, 255);
  background: #eee;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-weight: 900;
  margin: 0;
}

#popup .form .buy {
  margin-top: 10px;
  height: 40px;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  background: rgba(0, 114, 54, 255);
  color: #fff;
}

#popup .card-content a.close {
  position: absolute;
  text-align: center;
  padding: 5px 15px;
  border-radius: 30px;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  background: none;
  color: #111;
}

#popup p {
  text-align: center;
  color: #111;
  margin-top: 8px;
}